
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">
    <br />
    <br />
    <h4>You do not have permission to access this page.</h4>
    <br />
    <br />
    @Html.ActionLink("Return to Employee Index", "Index")
    <br />
    @Html.ActionLink("Return to Home", "Index", "Home")
</div>

